body {
  margin: 150px;
  background: -webkit-linear-gradient( #8b5e34, #8b5e34,#9d6b53,#b07d62, #a47148, #a47148, #b07d62, #9d6b53, #8b5e34, #8b5e34)
}

h1,
h2,
#blackjack-result {
  
  background: -webkit-linear-gradient( #c9a227,#ffd300, #ffd81a, #ffea83, #ffe14e, #fff3b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.container-1{
  border-radius: 15px;
}

.container-1,
.container-5,
.footer {
  background-color: #38160d;
  border-radius: 15px;
  border: 3px solid #ffd300;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3,
.footer {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2 {
  background: url(https://images.unsplash.com/photo-1629197520635-16570fbd0bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JlZW4lMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&w=1000&q=80)
    center;
  color: #ffff;
}

.flex-blackjack-row-1 div {
  border: 2px solid #ffe14e;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
  flex: 1;
  height: 350px;
  text-align: center;
}

.flex-blackjack-row-1 img {
  width: 25%;
  padding: 10px;
}
.flex-blackjack-row-2 button {
  border: 31px  #ffe14e;
  padding: 10px;
  flex: 1;
}

.flex-blackjack-row-2 {

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
}

table,
td,
th {
  background: -webkit-linear-gradient( #c9a227,#ffd300, #ffd81a, #ffea83, #ffe14e, #fff3b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
  border: 1px dashed #ffe14e;
}

.footer {
  color: #c9a227;
  font-size: large;
}



@media (max-width: 1200px) {
  body {
    margin: 0px;
    padding: 0;
  }

.container-1,
.container-5,
.footer {
  background-color: #38160d;
  border-radius: 15px;
  border: 3px solid #ffd300;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}